.saved-card__list {
    max-width: 1140px;
    /* height: 100vh; */
    margin: 0 auto;
    padding: 50px 70px 10px 70px;
    display: flex;
    flex-direction: column;
    font-family: 'inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
}

.saved-card__elements {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 37px 24px;
    font-family: 'Inter', Arial, sans-serif;
}

.saved-movies-message {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-self: center;
    font-weight: 500;
}

.saved__message {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    align-self: center;
    font-weight: 500;
    color: #8B8B8B;
}

@media screen and (max-width: 950px) {
    .saved-card__elements {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 30px;
    }
    .saved-card__list {
        padding: 70px 30px 0 30px;
    }
    .saved-card__list-btn {
        margin: 80px 0 80px 0;
    }
}

@media screen and (max-width: 590px) {
    .saved-card__elements {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 14px;
    }
    .saved-card__list {
        padding: 40px 10px 0 10px;
    }
    .saved-card__list-btn {
        margin: 76px 0 80px 0;
        width: 240px;
    }
}