.root {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'inter', 'Helvetica Neue', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.text {
    padding: 9px 14px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
} 

.text__white {
    color: #FFFFFF
}

.text__grey {
    padding-bottom: 0;
    color: #8B8B8B;
}

.text__icon {
    padding: 21px 0 0 0;
    color: #FFFFFF
}

.title {
    margin: 0 auto;
    padding: 0 0 23px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-bottom: 1px solid rgb(218,218,218, 1);
    max-width: 1140px;
}

.link {
    text-decoration: none;
}

.link:hover {
    opacity: .6;
}

@media screen and (max-width: 770px) {
    .title {
        max-width: 668px;
    }
}

@media screen and (max-width: 340px) {
    .text {
        font-size: 11px;
        line-height: 13px;
    }
    .title {
        width: 284px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }
}